@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff8f7;
  color: #281719;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* Scrollbar invisible sur mobile */
::-webkit-scrollbar {
  display: none;
}